<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <!--Used by http client components. If enabled=true, the first connection might take a few seconds as the client tries to locate proxy.-->
    <defaultProxy enabled="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>

    <connectionManagement>
      <!--For a good value, refer to http://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.aspx-->
      <add address="*" maxconnection="64"/>
    </connectionManagement>
  </system.net>
  
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBinding_IService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>

                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8998/RealWorldServices/RealWorld.svc" binding="basicHttpBinding" bindingConfiguration="DefaultBinding_IService1" contract="Fonlow.RealWorldService.Clients.IService1" name="DefaultBinding_RealWorld"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
